{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
<!-- <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script> -->
<script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
<meta charset='UTF-8'>
<meta name="robots" content="noindex">
<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
<link rel="canonical" href="https://codepen.io/dishantsoni/pen/pgVeQW?limit=all&page=46&q=draggable" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >




</head>
<body>
<h1>complete</h1>
{% for eachtask in complete %}

<h2>{{ eachtask.content }} </h2>
 <a href=""> <i class="pad-15 material-icons md-36 md-light">delete</i>  </a>
<a href="{% url 'taskapp:moveup' eachtask.id %}"><i class="material-icons" style="font-size:48px;color:red">expand_less</i></a>
<a href="{% url 'taskapp:movedown' eachtask.id %}"><i class="material-icons" style="font-size:48px;color:red">expand_more</i></a>
<a href="{% url 'taskapp:incomplete' eachtask.id %}"><i class="material-icons" style="font-size:48px;color:red">close</i></a>


{{ eachtask.pub_date}}
<br>
{% endfor %}
<br>
<hr>

<h1>incomplete</h1>
{% for eachtask in incomplete %}

<h2>{{ eachtask.content }}</h2>
 <a href=""> <i class="pad-15 material-icons md-36 md-light">delete</i>  </a>
<a href="{% url 'taskapp:moveup' eachtask.id %}"><i class="material-icons" style="font-size:48px;color:red">expand_less</i></a>
<a href="{% url 'taskapp:movedown' eachtask.id %}"><i class="material-icons" style="font-size:48px;color:red">expand_more</i></a>
<a href="{% url 'taskapp:complete' eachtask.id %}"><i class="material-icons" style="font-size:48px;color:red">check</i></a>



				
{{ eachtask.pub_date }}
<div>{{ eachtask.upload }}</div>


<div class="container">
	<h2>edit task</h2>
	<button type="button" class="btn btn-info btn-success" data-toggle="modal" data-target="#popUpWindow">open popup</button>
	<div class="modal fade" id="popUpWindow" role="dialog"> 
		<div class="modal-dialog">
			<div class="model-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div> 

				<div class="modal-body">
					<div class="form-group">
						<form role="form" enctype="multipart/form-data" method="POST" action="{% url 'taskapp:edittask' eachtask.id %}">
							{% csrf_token %}
							{{ form.as_p }}
						
							<button type="submit" class="btn btn-primary btn-block">submit</button>
						</form>
					</div>
				</div >
			</div>
		</div>
	</div>
</div>

<br>
{% endfor %}


<div class="container">
	<h2>modal eg</h2>
	<button type="button" class="btn btn-info btn-success" data-toggle="modal" data-target="#popUpWindow">open popup</button>

	<div class="modal fade" id="popUpWindow" role="dialog"> 
		<div class="modal-dialog">
			<div class="model-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div> 

				<div class="modal-body">
					<div class="form-group">
						<form role="form" enctype="multipart/form-data" method="POST" >
							{% csrf_token %}
							{{ form.as_p }}
							{{ profile_form.as_p}} 
							<button type="submit" class="btn btn-primary btn-block">upload</button>
						</form>
					</div>
				</div >

				<div class="modal-footer">
					<button class="btn btn-primary btn-block">login</button>
				</div>

			</div>
		</div>
	</div>
</div>

</body>



</html>
